<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.micrusa.amaztimer">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".AmazTimerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="AmazTimer"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AmazTimer"
            android:icon="@mipmap/ic_launcher"
            android:label="AmazTimer">
        </activity>
        <activity android:name=".saveworkout.ui.WorkoutViewerActivity" />
        <activity
            android:name=".saveworkout.ui.SavedWorkoutsActivity"
            android:exported="true" />
        <activity android:name=".activities.PrepareActivity" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".activities.AppInfo" />
        <activity android:name=".activities.EditPresetActivity" />
        <activity android:name=".activities.PresetsActivity" />
        <activity android:name=".activities.SettingsActivity" />
    </application>

</manifest>